@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .grid-auto {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  }
}
